@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 215 38% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 120 18% 44%;
    --secondary-foreground: 0 0% 0%;
    --accent: 0 50% 50%;
    --accent-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 215 38% 41%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100vw);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

@keyframes shine {
  0% {
    opacity: 0.5;
    filter: blur(3px);
  }
  50% {
    opacity: 1;
    filter: blur(2px);
  }
  100% {
    opacity: 0.5;
    filter: blur(3px);
  }
}

.gradient-line {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(to right, transparent, var(--line-color), transparent);
  opacity: 0.7;
  animation: shine 3s ease-in-out infinite;
}

.gradient-line-blue {
  --line-color: #4169a1;
}

.gradient-line-red {
  --line-color: #b43c3c;
}

.gradient-line-green {
  --line-color: #5f825a;
}

.gradient-line-gold {
  --line-color: #d4b95e;
}
